<section class="pt-8 px-10">
  <div class="p-8 border rounded-lg shadow bg-gray-800 border-gray-700">
    <div class="flex justify-between align-middle mb-3 relative">
      <h1 class="text-2xl text-white tracking-tight">Currency converter</h1>

      <div class="absolute right-0 bg-slate-700 rounded-lg p-4">
        <div class="flex gap-1 mb-2 font-normal text-gray-400">
          <p>
            📈 Exchange rate : {{ 1 | currency:EURO.code:'symbol':'1.2' }} =
          </p>

          <p [class.text-red-400]="showCustomRate()" [class.line-through]="showCustomRate()">{{ exchangeRate$ | async | currency:USD.code:'symbol':'1.2' }}</p>

        </div>
        @if (showCustomRate()) {
          <p class="font-normal text-gray-400 text-right mb-2">{{ currentRate() | currency:USD.code:'symbol':'1.2' }} (using custom rate)</p>
        }

        <p class="flex gap-2 mb-2 text-md font-medium text-white">
          Custom rate

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <title>Custom rate is used if the value is not too far from the current rate</title>
            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
          </svg>

        </p>
        <app-input-number placeholder="Optionnal" [control]="customRateControl"></app-input-number>
      </div>
    </div>

    <div class="flex gap-4 mb-3">
      <p class="text-white" [class.opacity-15]="toggle()">{{ EURO.flag }} {{ EURO.name }}</p>
      <app-input-toggle [control]="toggleControl"></app-input-toggle>
      <p class="text-white" [class.opacity-15]="!toggle()">{{ USD.flag }} {{ USD.name }}</p>
    </div>

    <div class="flex gap-8">
      <app-input-number class="w-60" [control]="valueInputControl" [placeholder]="EURO.name" [label]="from_label"></app-input-number>

      <div class="w-60">
        <label for="result" class="block mb-2 text-md font-medium text-white">{{ to_label }}</label>
        <div class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white">
          <p id="result" class="text-white">{{ result() | currency:USD.code:'symbol':'1.2' }}</p>
        </div>
      </div>

    </div>
  </div>
</section>